img {
	float: right;
	height: 300px;
	width: 500px;
	border: solid 8.5px;
}
h1 {
	font-size: 80px;
	text-shadow: 5px 3px 3px #ff0090;
	font-family: Brush Script MT, Brush Script Std, cursive;
}
h2 {
	font-size: 65px;
	text-shadow: 5px 3px 3px #ff0090;
	font-family: Brush Script MT, Brush Script Std, cursive;
	margin-top: 10px;
}
p { 
	font-size: 25px;
	font-family: 'Permanent Marker';
	margin-right: 700px;
	text-align: justify;
	margin-top: 5px;
 }
#script {
	font-size: 35px;
 }
body {
	background: black;

}
#content{
	color:white;
}
