body {
	font-family: Comic Sans;
	color: red;
	background-color: black;
	text-align: center;
	
}
h1 {
	color: white;
	font-size: 110px;
	font-family: 'Brush Script MT', Brush Script Std, cursive
}
h2 {
	font-size: 55px;
	font-family: 'Comic Sans MS', bold, cursive, sans-serif;
	color: gold;
}
p {
	font-size: 25px;
}
#main-content {
	border-radius: 15px;
	border: 3px solid red;
	padding-top: 15px;
}
img {
	width: 1000px;
}